/**
* {{description}}
*/
@hu.mk.kiaf.validators.{{^validatorpackage}}{{#parameters}}{{tagName}}{{/parameters}}{{/validatorpackage}}{{#validatorpackage}}{{validatorpackage}}{{/validatorpackage}}.{{value}}({{#parameters}}{{key}}="{{value}}"{{^-last}}, {{/-last}}{{/parameters}})

