[#models]
== Models

{{#models}}
    {{#model}}

[#{{classname}}]

{{^allowableValues}}
[.fields-{{classname}}]

=== _{{classname}}_ {{title}}
{{unescapedDescription}}

{{#vendorExtensions.x-constraints}}

    {{{description}}}

{{/vendorExtensions.x-constraints}}


[cols="2,1,1,2,4,1,2"]
|===
| Field Name| Required| Nullable | Type| Description | Format | Constraints

{{#vars}}
| {{baseName}}
| {{#required}}X{{/required}}
| {{#isNullable}}X{{/isNullable}}
| {{#isModel}}<<{{ dataType }}>>{{/isModel}} {{^container}}{{^allowableValues}} {{^isModel}}{{ dataType }}{{/isModel}}{{/allowableValues}}{{#allowableValues}}{{^allowableValues.empty}}<<{{ dataType }}>>{{/allowableValues.empty}}{{/allowableValues}} {{/container}} {{#isContainer}} of <<{{complexType}}>>{{/isContainer}}
| {{description}}
| {{{dataFormat}}} {{#isEnum}}_Enum:_ {{#_enum}}{{this}}, {{/_enum}}{{/isEnum}} {{^isEnum}}{{^container}}{{^allowableValues.empty}} {{#allowableValues.values}}{{this}}, {{/allowableValues.values}} {{/allowableValues.empty}}{{/container}}{{/isEnum}}
| {{#vendorExtensions.x-constraints}}{{description}}{{/vendorExtensions.x-constraints}}
{{/vars}}
|===
{{/allowableValues}}

{{#allowableValues}}

[.fields-{{classname}}]
[cols="1"]
|===
| Enum Values

{{#allowableValues.values}}
| {{this}}
{{/allowableValues.values}}

|===
{{/allowableValues}}

    {{/model}}
{{/models}}
